<div class="container" id="tests">
    <div class="row">
      <div class="col">
  
        <section class="main" >
  
          <table class="table">
            <caption></caption>
            <thead class="thead-light">
            <tr>
              <th>Evaluación</th>
              <th>Nombre</th>
              <th>Calificación</th>
              <th>Estado</th>
              <th>Fecha Vcto</th>
              <th>Test</th>
            </tr>
            </thead>
  
            <tbody>
                @for (userTest of userTests; track userTest.userId) {
                  @for (test of userTest.tests; track test.id) {
                    <tr>
                        <th scope="row">{{test.description}}</th>
                        <td>{{userTest.userName}}</td>
                        <td>{{test.lastScore}}</td>
                        <td>{{test.status}}</td>
                        <td>{{test.dateExpiration}}</td>
                                              
                         @if(test.lastScore < 7 && test.status != 'CERTIFICADO') {
                          <td>
                            <button type="button" class="btn btn-primary" [routerLink]="['/evaluation', test.id, 'user', userTest.userId]" [queryParams]="{ title: test.description }">Realizar</button>
                          </td>
                         } @else {
                          <td>
                            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/evaluation', test.id, 'user', userTest.userId]" [queryParams]="{ title: test.description }" disabled="true">Realizar</button>
                          </td>
                         }
                       <td></td>
                    </tr>
                  }
                }
                @empty {
                  <div>no evaluation records found</div>
                }
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>