

<div class="container" id="tests">
    <div class="row">
      <div class="col">
        <section>
          <header class="header">
            <div class="row">
              <div class="col-md-12">
                <h4>Evaluaciones</h4>
              </div>            
            </div>
          </header>
        </section>
  
        <section class="main" >
  
          <table class="table">
            <caption></caption>
            <thead class="thead-light">
            <tr>
              <th>Prueba</th>
              <th>Calificación</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Print</th>
              <th>Test</th>
            </tr>
            </thead>
  
            <tbody>
                @for (test of tests; track test.id){
                    <tr>
                        <th scope="row">{{test.name}}</th>
                        <td>{{test.qualification}}</td>
                        @if(test.qualification > 0 && test.qualification < 7) {
                          <td>Reprobado</td>
                         } @else if(test.qualification > 7) {
                          <td>Certificado</td>
                         } @else {
                          <td>Pendiente</td>
                         }    
                        <td>{{test.date}}</td>
                        <td><a (click)="seeQuestions(test.id)">Print</a></td>
                        <td><a [routerLink]="['/question']">Test</a><button type="button" (click)="seeQuestions(test.id)">Test</button></td>
                        
                    </tr>
                }
            </tbody>
          </table>
          
        </section>
      </div>
    </div>
  </div>